.sidebar-container {
    color: white;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    /* border: solid red; */
}

.sidebar-logo {
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
}

.sidebar-search {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 12px;
    background-color: #222;
    border-radius: 6px;
    margin-bottom: 30px;
    cursor: pointer;
}

.search-icon {
    font-size: 18px;
    color: #aaa;
}

.sidebar-menu {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.sidebar-item {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 10px 12px;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
    transform: translateX(0);
    /* border: solid; */
    color: white;
    text-decoration: none;
}

.sidebar-item:hover {
    transform: translateX(8px);
    border-left: 4px solid white;
}

.sidebar-icon {
    font-size: 18px;
}

.sidebar-label {
    font-size: 16px;
}


@media(max-width: 493px) {
    .sideBar-div {
        position: fixed;
        top: 60px;
        left: -100%;
        height: 100vh;
        /* background-color: #fff; */
        z-index: 1000;
        box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    }

    .sideBar-div.show {
        left: 0;
    }

}