.webbyaward-container {
    padding: 10px;
    color: white;
    font-family: Arial, sans-serif;
    border-top: 0.1px solid;
    margin-top: 30px;
}

.webbyaward-title {
    font-family: Retina, Helvetica, Arial, sans-serif;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 24px;
    letter-spacing: -0.8px;
}

.webbyaward-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.webbyaward-seeall-link {
    text-decoration: none;
    color: #aaa;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 4px;
}

.webbyaward-seeall-icon {
    font-size: 18px;
}

.webbyaward-grid {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    gap: 24px;
}

.webbyaward-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.webbyaward-img {
    /* width: 100%; */
    /* border: solid; */
    width: 134px;
    height: 145px;
    border-radius: 2px;
    object-fit: cover;
    margin-bottom: 12px;
}

.webbyaward-name {
    font-size: 14px;
    font-weight: 600;
    margin: 0;
    color: #ffffff;
}

.webbyaward-author {
    font-size: 13px;
    color: #aaa;
    margin-top: 4px;
}


@media (max-width:493px) {
    .webbyaward-container {
        padding: 10px;
        color: white;
        font-family: Arial, sans-serif;
        border-top: none;
        margin-top: 20px;
    }

    .trending-div1 .webByAward-title {
        font-size: 20px;
    }

    .web-see-all-link {
        margin-top: 16px;
    }

    .webbyaward-grid {
        display: flex !important;
        flex-direction: column !;
        max-height: 30vh;
        overflow-x: scroll;
        padding-right: 8px;
    }

    .webbyaward-card {
        display: flex;
        flex-direction: column;
        margin-bottom: 16px;
    }

    .webbyaward-name {
        font-size: 11px;
        font-weight: 600;
        margin: 0;
        color: #ffffff;
    }

    .webbyaward-grid::-webkit-scrollbar {
        width: 6px;
    }

    .webbyaward-grid::-webkit-scrollbar-thumb {
        background-color: #888;
        border-radius: 3px;
    }

    .webbyaward-grid::-webkit-scrollbar-track {
        background: transparent;
    }

    .webbyaward-img {
        /* width: 100%; */
        /* border: solid; */
        width: 150px;
        height: 150px;
        border-radius: 2px;
        object-fit: cover;
        margin-bottom: 12px;
    }
}