.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    color: white;
}

.header-left {
    width: 19%;
    padding: 15px;
    /* border: solid; */
}

.header-center-main-Container {
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: center;
    width: 74.2%;
    justify-content: space-around;
    padding: 20px;
    border-bottom: thin solid #ccc;
    padding-bottom: 20px;
    /* border: solid; */
}

.logo-img {
    height: 42px;
}

.nav-icon {
    font-size: 18px;
    color: white;
    cursor: pointer;
    transition: 0.2s;
}

.nav-icon:hover {
    color: white;
}

.header-center {
    display: flex;
    align-items: center;
    width: 80%;
    justify-content: space-between;
    /* border: solid; */
}

.header-center-div1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
}

.header-center1 {
    display: flex;
    align-items: center;
    background-color: #2c2c2c;
    border-radius: 8px;
    padding: 15px;
    max-width: 400px;
}

.search-icon {
    color: #aaa;
    font-size: 16px;
    margin-right: 10px;
}

.search-input {
    background: transparent;
    border: none;
    outline: none;
    color: white;
    font-size: 14px;
    width: 100%;
}

.search-input::placeholder {
    color: #aaa;
}

.search-input::-webkit-input-placeholder {
    color: #aaa;
}

.header-right .user-avatar {
    font-size: 40px;
    color: #ccc;
    cursor: pointer;
}

.responsive-div {
    display: none;
}

@media(max-width: 493px) {
    .header-center-main-Container .header-center .nav-icon {
        display: none;
    }

    .header-center-main-Container {
        border-bottom: none;
    }

    .header-right .user-avatar {
        display: none;
    }

    .header-left .logo-img {
        height: 33px;
        margin-left: 22px;
    }

    .header-container {
        /* border: solid; */
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .responsive-div {
        display: block;
        display: flex;
        flex-direction: row;
        gap: 10px;
        margin-right: 50px;
        align-items: center;
        /* border: solid; */
    }

    .header-center1 {
        display: none;
    }

    .responsive-search-container {
        display: flex;
        width: 100%;
    }

    .responsive-searchbar {
        background-color: #2c2c2c;
        border-radius: 8px;
        padding: 12px;
        display: flex;
        align-items: center;
        transition: all 0.3s ease;
        opacity: 1;
        margin-right: 10px;
        width: 160px;
    }

    .responsive-search-icon {
        cursor: pointer;
    }

    .responsive-menu-icon {
        font-size: 25px;
        color: white;
        flex-shrink: 0;
    }

    .search-input::-webkit-input-placeholder {
        color: #aaa;
        font-size: 12px;
    }

}