* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: Retina, helvetica, arial, sans-serif;
    color: white;
    height: 100vh;
    overflow: hidden;
}

.sidebar-app-main-container {
    display: flex;
    height: calc(100vh - 60px);
}

.sideBar-div {
    width: 250px;
    height: 100%;
    position: fixed;
    top: 87px;
    left: 0;
    /* background-color: #111; */
    /* border-right: 1px solid #444; */
    padding: 10px;
    overflow-y: auto;
}

.AllPodcaste-div {
    margin-left: 300px;
    width: calc(100% - 250px);
    padding: 1px 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    /* border: solid; */
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: #717070 transparent;
}

.AllPodcaste-div::-webkit-scrollbar {
    width: 6px; 
}
